* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kontener {
  max-width: 1920px;
  margin: 10px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 1000;
  z-index: 1000;
}

.navbar {
  display: flex;
  /* position: sticky;
  top: 0; */
  justify-content: space-between;
  padding: 10px 150px;
  align-items: center;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.257);
}

.chapNav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.chapNav a {
  color: rgba(0, 0, 0, 0.493);
  text-decoration: none;
}

.ongNav {
  display: flex;
  gap: 11px;
  align-items: center;
}

.ongNav b {
  color: rgba(0, 0, 0, 0.493);
}

.zakaz {
  padding: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2a5e8d;
  background-color: #f2f6fc;
  border: none;
  font-size: 11px;
}

.navbarBig {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 27px 150px;
}

.iconkas {
  display: flex;
}

.search {
  width: 37%;
  display: flex;
  background-color: #186fd4;
  border-radius: 6px;
}

.search input {
  width: 100%;
  padding: 15px 16px;
  border: none;
  border-radius: 6px;
  border: 3px solid #186fd4;
}

.search button {
  font-size: 20px;
  padding: 11px 16px;
  border: none;
  background-color: #186fd4;
  border-radius: 0px 6px 6px 0px;
  color: white;
}

#katalog {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 29px;
  border: none;
  border-radius: 8px;
  background-color: #186fd4;
  color: white;
  font-size: 15px;
}

#openkatalog {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 29px;
  border: none;
  border-radius: 8px;
  background-color: #011120;
  color: white;
  font-size: 15px;
}

.iconkas {
  display: flex;
  align-items: center;
  gap: 27px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.footer {
  background-color: #f3f4f5;
  padding: 10px 150px;
  margin-top: 50px;
}

.footBir {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 41px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.ongFbir {
  display: flex;
  gap: 135px;
  align-items: center;
}

.chapFbir {
  display: flex;
  align-items: center;
  gap: 51px;
}

.Fikki {
  display: flex;
  flex-direction: column;
}

.Fuch {
  display: flex;
  align-items: center;
  gap: 34px;
}

#zvanok {
  padding: 18px 26px;
  border-radius: 4px;
  border: 1px solid #ee0906;
}

.footIkki ul li {
  list-style: none;
}

.footIkki {
  display: flex;
  gap: 215px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 50px;
}

.footIkki ul {
  width: 150px;
}

.chapFoot2 {
  display: flex;
  gap: 100px;
}

.chapFoot2 ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ongFoot2 {
  display: flex;
  gap: 100px;
  align-items: center;
  position: relative;
  top: 22px;
}

.ongFoot2 ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 200px;
}

.uls {
  position: relative;
  top: 65px;
}

.oplataB {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 37px;
  border-bottom: 1px solid;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.karta {
  display: flex;
  gap: 50px;
  align-items: center;
}

.karta p {
  width: 120px;
}

#emeil {
  width: 320px;
  padding: 15px 20px;
  border: none;
  background-color: white;
}

.emeils b {
  width: 240px;
}

.emeils {
  display: flex;
  gap: 36px;
}

.kaptar {
  position: relative;
  right: 70px;
  top: 14px;
  font-size: 23px;
}

.internet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  padding: 20px;
}

.internet p {
  width: 700px;
}

.sliderr {
  padding: 20px 150px;
}

.swiper-slide-page {
  padding: 50px 150px;
  position: relative;
  z-index: -1;
}

.swiper-slide-page img {
  opacity: 0px;
}

.drel {
  left: 60px;
  position: absolute;
  opacity: 100px;
  z-index: 1;
  bottom: 122px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.drel h1 {
  width: 35%;
}

.drel p {
  width: 55%;
}

.pereyte {
  background-color: #011120;
  color: white;
  padding: 24px 27px;
  border-radius: 8px;
  border: none;
  width: 260px;
  font-size: 20px;
}

.tolov {
  display: flex;
  justify-content: space-between;
  padding: 0px 160px 55px 160px;
  font-size: 20px;
}

.t-usuli {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 15px;
}

.kok-icons {
  color: #186fd4;
  font-size: 22px;
}

.katalog1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px 55px 150px;
}

.katalog1 a {
  color: black;
  text-decoration: none;
}

.katalog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: #f3f4f5;
  border-radius: 15px;
  text-align: center;
}

.katalog-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 35px 10px;
  background-color: white;
  box-shadow: 0.2px 0.5px 2px #737374;
  border-radius: 15px;
  text-align: center;
}

.katalog-card img {
  width: 120px;
  height: 120px;
}

.katalog-card b {
  width: 135px;
  height: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.strelka {
  padding-top: 35px;
  border: none;
  font-size: 50px;
  background-color: white;
}

.skidkas {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 0px 150px 90px 150px;
}

.skidkas img {
  width: 100%;
}

.skidka {
  position: absolute;
  top: 43px;
}

.notfound {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 110px auto;
  text-align: center;
}

.naydena {
  padding-left: 150px;
}

.btn-gr {
  display: flex;
  gap: 15px;
  padding-top: 55px;
  padding-bottom: 55px;
}

.oq {
  background-color: #f2f6fc;
  color: #186fd4;
  padding: 25px 32px;
  border-radius: 8px;
  border: none;
}

.koks {
  background-color: #186fd4;
  color: white;
  padding: 25px 42px;
  border-radius: 8px;
  border: none;
}

.footIkki a {
  color: black;
  text-decoration: none;
}

.skidka h2 {
  width: 45%;
  padding-left: 10px;
  padding-bottom: 8px;
}

.skidka b {
  background-color: #011120;
  color: white;
  padding: 5px 8px;
  margin-left: 10px;
  border-radius: 7px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  width: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #2c333d;
  background: #fff;
  font-size: 20px !important;
  box-shadow: 0 0 3px 0 #ccc;
  position: absolute;
}

.cardBig {
  display: flex;
  gap: 20px;
}

/* .card-Bigs img{
  width: 100%;
} */
.cardBig p {
  color: #01112080;
}

.cardMiddle {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 10px;
}

.cardMiddle h1 {
  width: 250px;
  font-size: 16px;
}

.btn-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-card {
  display: flex;
  gap: 9px;
}

.xit {
  padding: 3px 8px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #f90;
  border-radius: 5px;
  color: #f90;
  position: absolute;
}

.kupit {
  background-color: #186fd4;
  color: white;
  padding: 7px 17px;
  border: none;
  border-radius: 6px;
  display: flex;
}

.plus-minus {
  display: flex;
  gap: 1px;
  width: 20px;
  padding-left: 35px;
  justify-content: center;
}

.plus {
  padding: 3px 9px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 3px;
  font-size: 19px;
}

.minus {
  padding: 3px 7px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 3px;
  font-size: 19px;
}

.count {
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.btn-card button {
  padding: 0px 3px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  border: 1px solid #f3f4f5;
}

.card-Big {
  padding: 20px;
  width: 100%;
}


.cardN {
  padding: 20px 150px;
}

.cardMiddle del {
  color: rgba(0, 0, 0, 0.541);
  font-size: 18px;
}

.cardMiddle .b1 {
  font-size: 20px;
  color: #003b73;
}

.cardMiddle .b1 b {
  color: white;
  border-radius: 4px;
  background: #1b9665;
  padding: 8px 5px;
  margin-left: 10px;
}

.btn-filters {
  display: flex;
  gap: 20px;
}

.btn-filters .vse-btn {
  padding: 17px 20px;
  background-color: #f6f8fb;
  color: #186fd4;
  border: none;
  border-radius: 6px;
  box-shadow: none;
}

.btn-filters button {
  padding: 17px 20px;
  color: black;
  background-color: #fff;
  border: none;
  margin: 50px 0px;
  border-radius: 6px;
  box-shadow: 0.2px 0.2px 0.1px 1px rgba(0, 0, 0, 0.055);
}

.bosch {
  display: flex;
  height: 60px;
}

.bosch img {
  padding: 10px;
  background-color: white;
  /* width: 200px; */
  object-fit: cover;
}

.boschX {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 150px;
  background-color: #f9fafb;
  margin-top: 50px;
}

.rasp {
  padding: 2px 3px 4px 4px;

  border: 1px solid #ee063e;
  color: #ee063e;
  border-radius: 4px;
  position: absolute;
}

.news {
  position: absolute;
  padding: 3px 5px 4px 4px;
  color: #ee063e;
  border-radius: 5px;
  border: 1px solid #1b9665;
  color: #1b9665;
}

.cardBigs {
  display: flex;
  gap: 5%;
}

/* .cardBigs img{
  width: 100%;
} */

.cardBigs .img-cards {
  width: 100%;
}

.deals {
  padding: 90px 150px;
}

.kley {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kley img {
  width: 166px;
  height: 166px;
}

.kley .skidka-kupit {
  display: flex;
  gap: 41px;
  align-items: center;
}

.kley .skidka-kupit b {
  width: 180px;
  text-align: left;
  font-size: 20px;
  padding-bottom: 28px;
}

.narx-skidka {
  display: flex;
  align-items: center;
}

.narx-skidka b {
  color: #1b9665;
}

.korzina {
  width: 308px;
  height: 48px;
  padding: 7px 17px;
  border-radius: 0px 0px 8px 8px;
  background: #117fe3;
  border: none;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.slide-card {
  display: flex;
}

.kley b {
  padding: 11px;
  font-size: 19px;
  text-align: center;
}

.skidka-kupit p {
  padding: 5px 8px;
  background-color: #1b9665;
  color: white;
  border-radius: 4px;
}

.our-store {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
  background-color: #f9fafb;
}

.sel {
  font-size: 17px;
  color: #2c333d;
  font-weight: 550;
  width: 113%;
  padding-top: 15px;
  padding-bottom: 9px;
}

.raqamlar {
  display: flex;
}

.raqam {
  padding: 16px 0px;
}

.raqam h1 {
  color: #117fe3;
}

.mechta {
  font-size: 15px;
  color: #010d18c5;
  width: 120%;
  padding-top: 9px;
  padding-bottom: 23px;
}

.padrobne {
  padding: 24px 27px;
  border-radius: 8px;
  background: #011120;
  color: white;
  font-size: 13px;
}

.card-CC {
  display: flex;
  gap: 20px;
}

.last-news {
  padding: 97px 150px 110px 150px;
}

.last-news2 {
  padding: 97px 0px 110px 0px;
}

.last-news h1 {
  padding-bottom: 37px;
}

.card-C {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-C img {
  width: 100%;
}

.card-C b {
  width: 70%;
}

.oplata {
  display: flex;
  padding: 20px 150px;
  gap: 20px;
}

.oplata p,
li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #1e1e1e;
}

.oplata ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.oplata li {
  color: #ee0906;
}

.oplata li p {
  color: #2c333d;
}

.oplata-chap h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.oplata-chap h1 {
  padding: 20px;
  padding-left: 0px;
}

.oplata-chap h2 {
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  color: #2c333d;
}

.pris {
  font-size: 20px;
  font-style: normal;
  font-weight: 550;
  line-height: 26px;
  color: #2c333d;
}

.oplata-C {
  position: relative;
}

.oplata-do {
  position: absolute;
  top: 113px;
  left: 25px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.oplata-do h2 {
  color: #2c333d;
  font-size: 22px;
  font-style: normal;
  font-weight: 550;
  line-height: 26px;
  width: 100px;
}

.oplata-do b {
  color: white;
  border-radius: 6px;
  background: #011120;
  padding: 6px 8px;
  width: 72px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.oplata-ong {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
}

.dostavka-ong {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
}

.oplata-CX {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 13px;
  padding: 30px 25px;
  border-radius: 8px;
  background: #f9fafb;
}

#pochta {
  padding: 20px 25px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.253);
}

.obuna {
  padding: 21px 27px;
  border-radius: 8px;
  background: #186fd4;
  color: white;
  border: none;
  font-size: 13px;
}

.soglasen {
  display: flex;
  gap: 10px;
  padding-left: 75px;
}

.soglasen p {
  text-align: left;
  font-size: 13px;
}

.soglasen input {
  margin-bottom: 80px;
}

.dostavka {
  display: flex;
  padding: 20px 150px;
  gap: 20px;
}

.dostavka h1 {
  padding: 20px;
  padding-left: 0px;
}

.bir-p {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bir-p p {
  color: #1e1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.dostavka-chap h3 {
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 550;
  line-height: 26px;
  padding: 20px;
  padding-left: 0px;
}

.dostavka-chap h4 {
  color: #2c333d;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: 26px;
  padding-bottom: 20px;
}

.rejim {
  color: black;
  padding: 20px;
  padding-left: 0px;
}

.dostavka-chap ul {
  padding-left: 27px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.dostavka-chap ul li {
  color: #ee0906;
}

.dostavka-chap ul li p {
  color: #2c333d;
}

.ikki-p {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.uch-p {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dostavka-chap .h3-kok {
  color: #063969;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: 27p;
  padding: 15px 20px;
}

.esli-p {
  padding: 15px;
  padding-left: 0px;
}

.dlya-p {
  padding: 20px;
  padding-left: 0px;
}

.cposb-b {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vozvrat {
  display: flex;
  padding: 20px 150px;
  gap: 20px;
}

.vozvrat-ong {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 320px;
  padding-top: 100px;
}

.openKatalog h1 {
  width: 100%;
}

.openKatalog {
  position: absolute;
  padding: 0px 150px;
  height: auto;
  display: block;
}

.closeKatalog {
  height: 0;
  width: 100%;
  display: none;
}

.img-sliders {
  padding: 0px 150px;
  display: flex;
  gap: 20px;
}

.katalog-bolim {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 1000;
  position: relative;
  align-items: center;
  border-bottom: 1px solid #ebf2f6;
  gap: 10px;
  font-size: 16px;
}

.katalog-boliming {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 1000;
  position: relative;
  align-items: center;
  border-bottom: 1px solid #ebf2f6;
  background-color: #fff;
}

.katalog-bolimim {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 1000;
  position: relative;
  align-items: center;
  border-bottom: 1px solid #ebf2f6;
  border-radius: 8px 8px 0px 0px;
  background-color: #fff;
}

.katalog-bolimlar a {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 1000;
  position: relative;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  background-color: #fff;
  text-decoration: none;
  /* color: ; */
}

.no-narxBTN {
  display: none;
}

.katalog-bolimi {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 1000;
  position: relative;
  align-items: center;
}

.close-katalog {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 1000;
  position: relative;
  align-items: center;
  border-bottom: 1px solid #ebf2f6;
}

.katalogs-bolims {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 1000;
  position: relative;
  align-items: center;
  background: #186fd4;
  color: white;
  border-bottom: 1px solid #ebf2f6;
}

.zakazOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01112076;
  z-index: 20;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.zakazClose {
  display: none;
}

.check-modal {
  display: flex;
  gap: 10px;
}

.check-modal p {
  text-align: left;
}

.modal-oyna {
  display: flex;
  gap: 25;
  flex-direction: column;
  width: 30%;
  background-color: white !important;
  opacity: 10000;
  z-index: 10000;
  position: fixed;
  padding: 40px;
  max-width: 620px;
}

.close-modals {
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 10000;
  opacity: 10000;
  color: white;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.labels {
  position: relative;
  left: -200px;
}

.labelss {
  position: relative;
  left: -175px;
}

#ism {
  border: 1px solid rgba(0, 0, 0, 0.253);
  padding: 20px 25px;
  border-radius: 7px;
}

#tel {
  border: 1px solid rgba(0, 0, 0, 0.253);
  padding: 20px 25px;
  border-radius: 7px;
}

.telqil {
  display: flex;
  padding: 25px 32px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-radius: 8px;
  background: #186fd4;
  color: white;
  border: none;
}

.opensKatalog {
  padding: 25px 150px;
  position: absolute;
  background-color: white;
  opacity: 1;
  z-index: 1;
  width: 1920px;
  display: flex;
  gap: 30px;
  background: #f9fafb;
}

.katalog-olim {
  display: none;
}

.close-complekt {
  display: none;
}

.katalog-title {
  border-radius: 8px;
  background: #fff;
}

.komplekte-close {
  display: none;
}

.komplekte-bir {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 15px 10px;
  font-size: 15px;
}

.komplekte-ikki {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 15px 10px;
  font-size: 15px;
}

.kompaniya {
  padding: 20px 150px;
}

.kompaniya-bir {
  display: flex;
}

.chap-kompaniya {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chap-kompaniya p {
  font-size: 15px;
  width: 770px;
}

.ong-kompaniya {
  position: relative;
  right: 60px;
}

.titles {
  display: flex;
  gap: 10px;
}

.kopmaniya-ikki {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.udobniy-card {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 80px;
}

.udob-card {
  display: flex;
  gap: 15px;
}

.udob-card p {
  width: 260px;
}

.udob-card h3 {
  width: 180px;
}

.chap-udob {
  font-size: 30px;
  color: #117fe3;
}

.cards-kampaniya {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2 - 100px));
  gap: 40px;
}

.card-kampaniya2 {
  display: flex;
  flex-direction: column;
}

.card-kamp4 {
  display: flex;
  justify-content: space-around;
}

.h-lar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-kampaniya li {
  color: #ee0906;
}

.card-kampaniya p {
  color: #2c333d;
}

.card-kampaniya ul {
  padding-left: 30px;
}

.card-kampaniya b {
  color: #186fd4;
  font-size: 22px;
  position: relative;
  top: -16px;
}

.card-kampaniya {
  padding: 35px 25px;
  padding-top: 0;
  border-radius: 8px;
  border: 3px solid #e6eef6;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-kampaniya3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 19px;
  padding: 35px 25px;
  border-radius: 8px;
  border: 3px solid #186fd4;
}

.card-kampaniya3 h3 {
  color: #186fd4;
  font-size: 25px;
}

.kampanita-uch h2 {
  padding-bottom: 66px;
}

.srok-plus {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.srok-plus button {
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background-color: #ebf7ff;
  color: #186fd4;
}

.srok-minus {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.srok-minus button {
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background-color: #ebf7ff;
  color: #186fd4;
}

.srok-plus-minus p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #64676a;
  padding: 10px;
}

.garantya-minus {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.garantya-minus button {
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background-color: #ebf7ff;
  color: #186fd4;
}

.vozvrat-chap h1 {
  padding-bottom: 20px;
}

.vozvrat-chap p {
  padding-bottom: 10px;
}

.vozvrat-chap ul {
  padding-left: 23px;
}

.vozvrat-chap li {
  color: #ee0906;
}

.vozvrat-chap li p {
  color: #2c333d;
}

.katalogs {
  padding: 0px 150px;
  display: flex;
  gap: 24px;
}

.elektr {
  display: flex;
  gap: 18px;
  align-items: center;
}

.elektr P {
  padding-top: 15px;
}

.elektr h1 {
  font-size: 48px;
}

.narx-btn {
  display: flex;
  flex-direction: column;
}

.cards-katalog {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - 20px));
}

.katalogs {
  display: flex;
  padding-top: 50px;
}

.elektr-instrument {
  padding-left: 150px;
}

.icons a {
  color: black;
  text-decoration: none;
  position: relative;
}

.icons a .sonBor {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 0px 5px;
  font-size: 14px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -9px;
  /* text-decoration: none; */
}

.icons a .sonYoq {
  display: none;
  padding: 0;
  background-color: none;
}

.likePage {
  padding: 0px 150px;
}

.likePage table {
  width: 100%;
}

.likePage table thead th {
  align-items: center;
}

.likePage table tbody tr {
  align-items: center;
}

.narxP {
  display: flex;
  gap: 3px;
}

.narxlar {
  display: flex;
  gap: 18px;
  padding-top: 18px;
  padding-bottom: 25px;
}


#ot-narx {
  display: flex;
  gap: 5px;
  border-radius: 6px;
  border: 1px solid #dfe0e2;
  font-size: 19px;
  width: 120px;
  padding: 10px;
}

#do-narx {
  display: flex;
  gap: 5px;
  border-radius: 6px;
  border: 1px solid #dfe0e2;
  font-size: 19px;
  width: 120px;
  padding: 10px;
}

.tip-tavar-arrow b {
  display: flex;
  align-items: center;
  gap: 217px;
}

.tavar {
  display: block;
}

.tavar-no {
  display: none;
}

.chekc-tavar {
  display: flex;
  gap: 13px;
  padding: 15px 0px;
  font-size: 15px;
}

.brend-tovar b {
  display: flex;
  align-items: center;
  gap: 250px;
}

.chap-katalogs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.likePage .titles {
  padding-bottom: 30px;
}

.likePage h1 {
  padding-bottom: 30px;
}

.likePage table {
  border-collapse: collapse;
  border: 3px solid #117fe3;
}

.likePage table thead {
  background-color: #117fe3;
  color: white;
  text-transform: capitalize;
  border: 1px solid white;
}

.likePage table tbody {
  color: #117fe3;
  text-align: center;
}

.kozinkaPage {
  padding: 0px 150px;
  display: flex;
  flex-direction: column;
}

.tovar-no {
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5 - 20px));
}

.icon-kozika {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 110px;
  color: #186FD4;
  /* background-color: #003b73;
  width: 100%; */
  width: 1620px;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}

.icon-kozika h3 {
  font-size: 20px;
  color: #2C333D;
}

.icon-kozika p {
  font-size: 15px;
  color: #2C333D;
  text-align: center;
}

.vkatalog {
  display: flex;
  padding: 25px 32px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-radius: 8px;
  background: #186FD4;
  color: white;
  border: none;
}

.vkatalog a {
  color: white;
  text-decoration: none;
}

.brend-material b {
  display: flex;
  align-items: center;
  gap: 219px;
}

.sena-arrow {
  display: flex;
  gap: 242px;
}

.rang {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.brend-color b {
  display: flex;
  align-items: center;
  gap: 257px;
}

.tavar-korz {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 60px;
}

.likePege {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fullPage {
  padding: 0px 150px;
  display: flex;
  gap: 49px;
  align-items: center;
}

.fulsPages {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tepaFull {
  overflow: hidden;
  width: 150px;
  text-align: center;
}

.tepaFull button {
  position: relative;
  border: none;
}

.tepaFull img {
  width: 150px;
}

.pastFull {
  width: 683px;
  height: 544px;
  overflow: hidden;
}

.pastFull img {
  width: 100%;
  height: 100%;
}

.pagesFull {
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding: 11px 0px;
}

.tolov-s {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.fullmalumot .bolshe {
  margin-bottom: 46px;
  color: #117fe3;
}

.fullmalumot {
  display: flex;
  flex-direction: column;
}

.pagesFull-imya {
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding: 11px 0px;
}

.pagesFull-imya b {
  font-size: 14px;
}

.kolichestva {
  display: flex;
  align-items: center;
  gap: 25px;
}

.like-kozinka {
  display: flex;
}

.like-kozinka button {
  padding: 10px 13px;
  border: none;
}

.kupit-korzinka {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.plus-minus-kupits {
  display: flex;
}

.plus-kupits {
  padding: 3px 15px;
  font-size: 18px;
  border-radius: 44%;
  border: none;
  background-color: #F3F4F5;
}

.minus-kupits {
  padding: 3px 15px;
  font-size: 18px;
  border-radius: 44%;
  border: none;
  background-color: #F3F4F5;
}

.qosh-korzinka {
  padding: 24px;
  background-color: #186FD4;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
}

.kupit-korzinka p i {
  color: #1B9665;
}

.kupit-narx {
  display: flex;
  gap: 7px;
}

.kupit-narx .b1 {
  color: #003B73;
  font-size: 25px;
}

.kupit-narx del {
  font-size: 18px;
}

.kupit-narx .foiz {
  background-color: #1b9665;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  padding: 3px 7px;
}